{% extends 'base.html.twig' %}

{% block head %}
    {% block title %} <title>{{ 'home_page.about.title'|trans }}</title> {% endblock %}
{% endblock %}

{% block body %}
<div class="bg-background">
    <div class="mx-auto grid max-w-2xl grid-cols-1 items-center gap-x-8 gap-y-16 px-4 py-24 sm:px-6 sm:py-32 lg:max-w-7xl lg:grid-cols-2 lg:px-8">
        <div>
            <h2 class="text-3xl font-bold tracking-tight sm:text-4xl text-primary">{{ 'home_page.about.sygenes_title'|trans }}</h2>
            <p class="mt-4 text-text">{{ 'home_page.about.sygenes_description'|trans }}</p>
            <dl class="mt-16 grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 sm:gap-y-16 lg:gap-x-8">
                <div class="border-t border-gray-200 pt-4">
                    <dt class="font-medium text-secondary">{{ 'home_page.about.origin_title'|trans }}</dt>
                    <dd class="mt-2 text-sm text-text">{{ 'about.origin_description'|trans }}</dd>
                </div>
                <div class="border-t border-gray-200 pt-4">
                    <dt class="font-medium text-secondary" >{{ 'home_page.about.mission_title'|trans }}</dt>
                    <dd class="mt-2 text-sm text-text">{{ 'home_page.about.mission_description'|trans }}</dd>
                </div>
                <div class="border-t border-gray-200 pt-4">
                    <dt class="font-medium text-secondary">{{ 'home_page.about.user_centric_title'|trans }}</dt>
                    <dd class="mt-2 text-sm text-text">{{ 'home_page.about.user_centric_description'|trans }}</dd>
                </div>
                <div class="border-t border-gray-200 pt-4">
                    <dt class="font-medium text-secondary">{{ 'home_page.about.integration_title'|trans }}</dt>
                    <dd class="mt-2 text-sm text-text">{{ 'home_page.about.integration_description'|trans }}</dd>
                </div>
            </dl>
        </div>
        <div class="grid grid-cols-2 grid-rows-2 gap-4 sm:gap-6 lg:gap-8">
            <img src="images/front-view.JPG" alt="{{ 'home_page.about.image1_alt'|trans }}" class="rounded-lg bg-gray-100">
            <img src="images/long_side_view.JPG" alt="{{ 'home_page.about.image2_alt'|trans }}" class="rounded-lg bg-gray-100">
            <img src="images/water_tank.JPG" alt="{{ 'home_page.about.image3_alt'|trans }}" class="rounded-lg bg-gray-100">
            <img src="images/green_view.jpg" alt="{{ 'home_page.about.image4_alt'|trans }}" class="rounded-lg bg-gray-100">
        </div>
    </div>
</div>
{# <div class="bg-background py-24 sm:py-32">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
        <div class="mx-auto max-w-2xl sm:text-center">
            <h2 class="text-3xl font-bold tracking-tight sm:text-4xl" style="color: var(--secondary-color);">{{ 'about.get_started_title'|trans }}</h2>
            <p class="mt-6 text-lg leading-8 text-text">{{ 'about.get_started_description'|trans }}</p>
            <a href="{{ path('list_student') }}" class="mt-8 mx-auto block w-40 rounded-md px-3 py-2 text-center text-sm font-semibold text-white shadow-sm hover:bg-primary-hover focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-secondary" style="background-color: var(--primary-color);">{{ 'about.get_access'|trans }}</a>
        </div>
    </div>
</div> #}
{% endblock %}