{% extends 'base.html.twig' %}

{% block title %}Log in{% endblock %}

{% block body %}
<form class="" method="post">
    
    <div class="container" style="height:50px"> </div>
    <div class="container">
        <h1 class="h1">Sign In</h1>
    </div>


    <div class="container" style="height:10px"> </div>

    <div class="form-group container">
    <label for="inputUsername">Username</label>
    <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" autocomplete="username" required autofocus>
    </div>

    <div class="container" style="height:30px"> </div>

    <div class="form-group container">
    <label for="inputPassword">Password</label>
    <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
    </div>

    <div class="container" style="height:30px"> </div>

    <div class="form-group container">
    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}">

    <div class="checkbox mb-3">
        <label>
            <input type="checkbox" name="_remember_me"> Remember me
        </label>
    </div>

    <button class="btn btn-primary w-25 py-2 px-5" type="submit">
        Sign in
    </button>
    </div>
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="m-3 h6">
            You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}
</form>
{% endblock %}
