{% extends "base_super_admin.html.twig" %}

{% block title %}
	<title>UIECC Dashboard</title>
{% endblock %}
{% block body %}
    <div class="min-h-screen bg-white p-8 flex flex-col overflow-hidden">
        <header class="text-gray-900 p-5 rounded-lg mb-6 flex flex-col items-center justify-center container mx-auto text-center border-b-4 border-gray-900">
            {% if fields is defined and fields|length > 0 and fields[0].school is defined %}
                <h1 class="text-4xl font-bold mb-1">Welcome to {{ fields[0].school.name }} Dashboard</h1>
            {% else %}
                <h1 class="text-4xl font-bold mb-1">Welcome to UIECC Dashboard</h1>
            {% endif %}
            <p class="text-md opacity-80">Today is {{ "now"|date("l, F j, Y") }}</p>
        </header>

        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="bg-{{ label == 'success' ? 'green' : 'red' }}-100 dark:bg-{{ label == 'success' ? 'green' : 'red' }}-900 border-l-4 border-{{ label == 'success' ? 'green' : 'red' }}-500 text-{{ label == 'success' ? 'green' : 'red' }}-700 dark:text-{{ label == 'success' ? 'green' : 'red' }}-100 p-4 mb-6 rounded-md shadow-sm transition-all duration-300 ease-in-out hover:shadow-md" role="alert">
                    <p class="font-bold">{{ (label == 'success' ? 'flash.success' : 'flash.error')|trans }}</p>
                    <p>{{ message|trans }}</p>
                </div>
            {% endfor %}
        {% endfor %}

        <div class="flex flex-col md:flex-row gap-6 flex-grow overflow-hidden -mb-10">
            <!-- Left Section: Create a field -->
            <div class="w-full md:w-1/4 bg-white rounded-lg p-4 h-auto md:h-[280px] flex flex-col justify-center overflow-y-auto shadow-xl">
                <div class="text-center place-items-center">
                    <div class="group relative justify-center">
                        <h2 class="text-2xl font-semibold text-gray-800 mb-2">Create a Field</h2>
                        <div class="absolute z-10 invisible group-hover:visible opacity-0 group-hover:opacity-100 transition-opacity duration-300 bg-white text-gray-800 border border-gray-300 rounded-sm shadow-lg p-2 w-48 mt-2 left-1/2 transform -translate-x-1/2">
                            <p>Easily add a new field to the university with just a click</p>
                        </div>
                    </div>
                    <p class="mb-4 text-sm text-gray-600">Click below to add a new field</p>
                    <form action="{{ path('field_new') }}" method="GET">
                        <button class="w-full bg-green-500 hover:bg-green-600 text-white font-semibold py-2 px-4 rounded-lg mb-4 transition duration-300 ease-in-out transform hover:scale-105">
                            <svg class="h-5 w-5 inline-block mr-2" fill="none" viewbox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4v16m8-8H4"/>
                            </svg>
                            Create Field
                        </button>
                    </form>
                </div>
            </div>

            <!-- Right Section: Field List -->
            <div class="w-full md:flex-1 bg-white rounded-lg p-6 overflow-visible flex flex-col h-auto md:h-[280px] shadow-xl">
                <div>
                    <h2 class="text-2xl font-semibold text-gray-800">Field List</h2>
                    <p class="mb-4 text-xs">Below is the list of fields you've created so far</p>
                </div>

                <div class="overflow-y-auto flex-grow">
                    <table class="min-w-full bg-white">
                        <thead class="bg-gray-200 text-gray-600 uppercase text-sm leading-normal sticky top-0">
                            <tr>
                                <th class="py-3 px-6 text-left">Name</th>
                                <th class="py-3 px-6 text-left">Description</th>
                                <th class="py-3 px-6 text-center">Actions</th>
                            </tr>
                        </thead>
                        <tbody class="text-gray-600 text-sm font-light">
                            {% for field in fields %}
                                <tr class="border-b border-gray-200 hover:bg-gray-100">
                                    <td class="py-3 px-6 text-left whitespace-nowrap">{{ field.name }}</td>
                                    <td class="py-3 px-6 text-left">{{ field.description }}</td>
                                    <td class="py-3 px-6 text-center">
                                        <a href="{{ path('delete_field', {'id': field.id}) }}" class="bg-red-500 hover:bg-red-600 text-white font-bold py-1 px-3 rounded text-xs" onclick="return confirm('Are you sure you want to delete this field?');">Delete</a>
                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="3" class="py-3 px-6 text-center">No fields found</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <!-- Adjust the margin-top for this div -->
        <div class="flex flex-col md:flex-row gap-6 flex-grow overflow-hidden mt-4">
            <!-- Left Section: Create a field responsible -->
            <div class="w-full md:w-1/4 bg-white rounded-lg p-4 h-auto md:h-[280px] flex flex-col justify-center overflow-y-auto shadow-xl">
                <div class="text-center mb-4">
                    <div class="group relative">
                        <h2 class="text-2xl font-semibold text-gray-800 mb-2">Create a Field Responsible</h2>
                        <div class="absolute z-10 invisible group-hover:visible opacity-0 group-hover:opacity-100 transition-opacity duration-300 bg-white text-gray-800 border border-gray-300 rounded-sm shadow-xl p-2 w-48 mt-2 left-1/2 transform -translate-x-1/2">
                            <p>Add a responsible to manage a specific field</p>
                        </div>
                    </div>
                    <p class="mb-4 text-sm text-gray-600">Click below to add a field responsible</p>
                    <form action="{{ path('app_register_respfield') }}" method="GET">
                        <button class="w-full bg-green-500 hover:bg-green-600 text-white font-bold py-2 px-4 rounded-lg shadow mb-4 transition duration-300 ease-in-out transform hover:scale-105">
                            <svg class="h-5 w-5 inline-block mr-2" fill="none" viewbox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4v16m8-8H4"/>
                            </svg>
                            Create Field Responsible
                        </button>
                    </form>
                </div>
            </div>

            <!-- Right Section: Field Responsible List -->
            <div class="w-full md:flex-1 bg-white rounded-lg p-6 overflow-hidden flex flex-col h-auto md:h-[280px] shadow-xl">
                <div>
                    <h2 class="text-2xl font-semibold text-gray-800">Field Responsibles</h2>
                    <p class="mb-4 text-xs">Below is the list of field responsibles</p>
                </div>

                <div class="overflow-y-auto flex-grow">
                    <table class="min-w-full bg-white">
                        <thead class="bg-gray-200 text-gray-600 uppercase text-sm leading-normal sticky top-0">
                            <tr>
                                <th class="py-3 px-6 text-left">Name</th>
                                <th class="py-3 px-6 text-left">Field</th>
                                <th class="py-3 px-6 text-left">Phone Number</th>
                                <th class="py-3 px-6 text-left">Email</th>
                                <th class="py-3 px-6 text-center">Actions</th>
                            </tr>
                        </thead>
                        <tbody class="text-gray-600 text-sm font-light">
                            {% for resp_field in resp_fields %}
                                <tr class="border-b border-gray-200 hover:bg-gray-100">
                                    <td class="py-3 px-6 text-left whitespace-nowrap">{{ resp_field.name }}</td>
                                    <td class="py-3 px-6 text-left">{{ resp_field.field.name }}</td>
                                    <td class="py-3 px-6 text-left">{{ resp_field.phoneNumber }}</td>
                                    <td class="py-3 px-6 text-left">{{ resp_field.email }}</td>
                                    <td class="py-3 px-6 text-center">
                                        <a href="{{ path('delete_resp_field', {'id': resp_field.id}) }}" class="bg-red-500 hover:bg-red-600 text-white font-bold py-1 px-3 rounded text-xs" onclick="return confirm('Are you sure you want to delete this responsible?');">Delete</a>
                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="5" class="py-3 px-6 text-center">No responsibles found</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

