{# Levels dashboard #}
{% extends "base_new.html.twig" %}

{% block title %}
	<title>{{ 'level_manager.UIECC Dashboard - ' | trans }}{{ field.name }}</title>
{% endblock %}

{% block body %}
	<div class="min-h-screen p-2 lg:pr-4 lg:pl-4 lg:pb-8 flex flex-col overflow-hidden">
		<header class="text-gray-900 p-2 rounded-lg flex flex-col  container  ">
			<div class="max-w-4xl flex flex-col justify-between items-start">
				<h1 class="text-xl font-bold text-gray-900">{{ field.name }}
					Dashboard</h1>
				<p class="text-sm text-gray-500">{{ "now"|date("l, F j, Y") }}</p>
			</div>
		</header>
		{% for label, messages in app.flashes %}
			{% for message in messages %}
				<div class="bg-{{ label == 'success' ? 'green' : 'red' }}-100 dark:bg-{{ label == 'success' ? 'green' : 'red' }}-900 border-l-4 border-{{ label == 'success' ? 'green' : 'red' }}-500 text-{{ label == 'success' ? 'green' : 'red' }}-700 dark:text-{{ label == 'success' ? 'green' : 'red' }}-100 p-4 mb-6 rounded-md shadow-sm transition-all duration-300 ease-in-out hover:shadow-md" role="alert">
					<p class="font-bold">{{ (label == 'success' ? 'flash.success' : 'flash.error')|trans }}</p>
					<p>{{ message|trans }}</p>
				</div>
			{% endfor %}
		{% endfor %}

		<!-- Statistics Section -->
		<div class="p-1 sm:p-2 mb-2">
			<h2 class="text-md sm:text-lg font-normal text-gray-800 mb-4">{{ 'level_manager.Dashboard Statistics' | trans }}</h2>
			<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-4">
				{% set stats = [
                    {label: 'Students', count: studentCount, color: 'blue', icon: 'M12 4.354a4 4 0 110 5.292M15 21H3v-1a6 6 0 0112 0v1zm0 0h6v-1a6 6 0 00-9-5.197M13 7a4 4 0 11-8 0 4 4 0 018 0z'},
                    {label: 'UEs', count: ueCount, color: 'green', icon: 'M19 11H5m14 0a2 2 0 012 2v6a2 2 0 01-2 2H5a2 2 0 01-2-2v-6a2 2 0 012-2m14 0V9a2 2 0 00-2-2M5 11V9a2 2 0 012-2m0 0V5a2 2 0 012-2h6a2 2 0 012 2v2M7 7h10'},
                    {label: 'ECs', count: ecCount, color: 'yellow', icon: 'M12 6.253v13m0-13C10.832 5.477 9.246 5 7.5 5S4.168 5.477 3 6.253v13C4.168 18.477 5.754 18 7.5 18s3.332.477 4.5 1.253m0-13C13.168 5.477 14.754 5 16.5 5c1.747 0 3.332.477 4.5 1.253v13C19.832 18.477 18.247 18 16.5 18c-1.746 0-3.332.477-4.5 1.253'},
                    {label: 'Levels', count: levelCount, color: 'purple', icon: 'M9 17V7m0 10a2 2 0 01-2 2H5a2 2 0 01-2-2V7a2 2 0 012-2h2a2 2 0 012 2m0 10a2 2 0 002 2h2a2 2 0 002-2M9 7a2 2 0 012-2h2a2 2 0 012 2m0 10V7m0 10a2 2 0 002 2h2a2 2 0 002-2V7a2 2 0 00-2-2h-2a2 2 0 00-2 2'}
                ] %}
				{% for stat in stats %}
					<div class="bg-{{ stat.color }}-100 rounded-lg p-4 flex items-center justify-between">
						<div>
							<p class="text-{{ stat.color }}-800 text-sm sm:text-base font-medium">{{ stat.label }}</p>
							<p class="text-{{ stat.color }}-600 text-lg sm:text-xl font-bold">{{ stat.count }}</p>
						</div>
						<div class="text-{{ stat.color }}-500">
							<svg class="w-8 h-8 sm:w-10 sm:h-10" fill="none" stroke="currentColor" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
								<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="{{ stat.icon }}"></path>
							</svg>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>

		<!-- Quick Actions Section -->
		<div class="mb-2 p-1 sm:p-2">
			<h2 class="text-md sm:text-lg font-normal text-gray-800 mb-4">{{ 'level_manager.Quick Actions' | trans }}</h2>
			<div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
				<div class="relative inline-block group">
					<a href="{{ path('level_new') }}" class="relative z-10 inline-block bg-blue-500 text-background rounded-md px-1 py-2 text-md sm:text-lg font-semibold text-white shadow-sm focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-secondary w-full text-center">
						<span class="mr-2">🏫</span>
						{{ 'level_manager.Create Level' | trans }}
					</a>
				</div>

				<div class="relative inline-block group">
					<a href="{{ path('app_register_resplevel') }}" class="relative z-10 inline-block bg-green-500 text-background rounded-md px-1 py-2 text-md sm:text-lg font-semibold text-white shadow-sm focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-secondary w-full text-center">
						<span class="mr-2">👤</span>
						{{ 'level_manager.Create Level Responsible' | trans }}
					</a>
				</div>
			</div>
		</div>

		<!-- Toggle Buttons and Tables Section -->
		<div class="rounded-lg p-1 sm:p-2 mb-2 max-h-[200px]">
			<h2 class="text-md sm:text-lg font-normal text-gray-800 mb-2">Lists</h2>
			<div class="flex justify-start mb-4">
				<button id="showLevelList" class="relative inline-block bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded-l transition-transform duration-300 hover:scale-105 text-sm sm:text-base">
					{{ 'level_manager.Level List' | trans }}
				</button>
				<button id="showResponsibleList" class="relative inline-block bg-green-500 hover:bg-green-600 text-white font-bold py-2 px-4 rounded-r transition-transform duration-300 hover:scale-105 text-sm sm:text-base">
					{{ 'level_manager.Level managers' | trans }}
				</button>
			</div>

			<!-- Level List Table -->
			<div id="levelListTable" class="overflow-x-auto shadow-xl max-h-[250px]">
				<table class="min-w-full bg-white ">
					<thead class="bg-gray-200 text-gray-700 uppercase text-xs sm:text-sm leading-normal">
						<tr>
							<th class="py-2 px-3 sm:py-3 sm:px-4 text-left">{{ 'level_manager.Level Name' | trans }}</th>
							<th class="py-2 px-3 sm:py-3 sm:px-4 text-center">{{ 'level_manager.Actions' | trans }}</th>
						</tr>
					</thead>
					<tbody class="text-gray-600 text-xs sm:text-sm">
						{% for level in levels %}
							<tr class="border-b border-gray-200 hover:bg-gray-100">
								<td class="py-2 px-3 sm:py-3 sm:px-4 text-left whitespace-nowrap">{{ level.name }}</td>
								<td class="py-2 px-3 sm:py-3 sm:px-4 text-center">
									<div class="relative inline-block transition-transform duration-300 hover:scale-105 group">
										<a href="{{ path('delete_level', {'id': level.id}) }}" class="relative z-10 inline-block bg-red-500 hover:bg-red-600 text-white font-bold py-1 px-2 sm:py-2 sm:px-3 rounded text-xs sm:text-sm transition-transform duration-300" onclick="return confirm('{{ 'level_manager.Are you sure you want to delete this level?' | trans }}');">{{ 'level_manager.Delete' | trans }}</a>
										<div class="absolute top-0 left-0 w-full h-full bg-black rounded transition-all duration-300 transform translate-x-[2px] translate-y-[2px] group-hover:translate-x-[3px] group-hover:translate-y-[3px] -z-10"></div>
									</div>
								</td>
							</tr>
						{% else %}
							<tr>
								<td colspan="2" class="py-2 px-3 sm:py-3 sm:px-4 text-center">{{ 'level_manager.No levels found' | trans }}</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>

			<!-- Level Responsibles Table -->
			<div id="responsibleListTable" class="overflow-x-auto" style="display: none;">
				<table class="min-w-full bg-white">
					<thead class="bg-gray-200 text-gray-700 uppercase text-xs sm:text-sm leading-normal">
						<tr>
							<th class="py-2 px-3 sm:py-3 sm:px-4 text-left">{{ 'level_manager.Name' | trans }}</th>
							<th class="py-2 px-3 sm:py-3 sm:px-4 text-left">{{ 'level_manager.Level' | trans }}</th>
							<th class="py-2 px-3 sm:py-3 sm:px-4 text-left">{{ 'level_manager.Phone Number' | trans }}</th>
							<th class="py-2 px-3 sm:py-3 sm:px-4 text-left">{{ 'level_manager.Email' | trans }}</th>
							<th class="py-2 px-3 sm:py-3 sm:px-4 text-center">{{ 'level_manager.Actions' | trans }}</th>
						</tr>
					</thead>
					<tbody class="text-gray-600 text-xs sm:text-sm">
						{% for resp_level in resp_levels %}
							<tr class="border-b border-gray-200 hover:bg-gray-100">
								<td class="py-2 px-3 sm:py-3 sm:px-4 text-left whitespace-nowrap">{{ resp_level.name }}</td>
								<td class="py-2 px-3 sm:py-3 sm:px-4 text-left">{{ resp_level.level.name }}</td>
								<td class="py-2 px-3 sm:py-3 sm:px-4 text-left">{{ resp_level.phoneNumber }}</td>
								<td class="py-2 px-3 sm:py-3 sm:px-4 text-left">{{ resp_level.email }}</td>
								<td class="py-2 px-3 sm:py-3 sm:px-4 text-center">
									<div class="relative inline-block transition-transform duration-300 hover:scale-105 group">
										<a href="{{ path('delete_resp_level', {'id': resp_level.id}) }}" class="relative z-10 inline-block bg-red-500 hover:bg-red-600 text-white font-bold py-1 px-2 sm:py-2 sm:px-3 rounded text-xs sm:text-sm transition-transform duration-300" onclick="return confirm('{{ 'level_manager.Are you sure you want to delete this responsible?' | trans }}');">{{ 'level_manager.Delete' | trans }}</a>
										<div class="absolute top-0 left-0 w-full h-full bg-black rounded transition-all duration-300 transform translate-x-[2px] translate-y-[2px] group-hover:translate-x-[3px] group-hover:translate-y-[3px] -z-10"></div>
									</div>
								</td>
							</tr>
						{% else %}
							<tr>
								<td colspan="5" class="py-2 px-3 sm:py-3 sm:px-4 text-center">{{ 'level_manager.No responsibles found' | trans }}</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>

	<script>
		document.addEventListener('DOMContentLoaded', function () {
const showLevelList = document.getElementById('showLevelList');
const showResponsibleList = document.getElementById('showResponsibleList');
const levelListTable = document.getElementById('levelListTable');
const responsibleListTable = document.getElementById('responsibleListTable');

showLevelList.addEventListener('click', function () {
levelListTable.style.display = 'block';
responsibleListTable.style.display = 'none';
showLevelList.classList.add('bg-blue-600');
showLevelList.classList.remove('bg-blue-500');
showResponsibleList.classList.add('bg-green-500');
showResponsibleList.classList.remove('bg-green-600');
});

showResponsibleList.addEventListener('click', function () {
levelListTable.style.display = 'none';
responsibleListTable.style.display = 'block';
showResponsibleList.classList.add('bg-green-600');
showResponsibleList.classList.remove('bg-green-500');
showLevelList.classList.add('bg-blue-500');
showLevelList.classList.remove('bg-blue-600');
});
});
	</script>
{% endblock %}
