{% extends 'base_new.html.twig' %}

{% block head %}
  {% block title %}<title> Add Responsable </title>{% endblock %}
{% endblock %}

{% block body %}

<div class="bg-white flex justify-start items-start">
  <form class="bg-white  rounded-lg px-8 py-8 w-full" method="post" id="responsable-form">
  {{ form_start(form) }}
    <div class="space-y-6">
      <!-- Profile Section -->
      <div>
      <h1 class="text-4xl font-semibold text-blue-600">Add a user</h1>
        <p class="text-sm text-gray-600 mb-4">This is where you add the responsable of the application.</p>

    <div class="border-b border-gray-900/10 pb-12">

      <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
        <div class="sm:col-span-2">
          <label for="email" class="block text-sm font-medium leading-6 text-gray-900">Enter your Email</label>
          <div class="mt-2">
           {{ form_row(form.email, {'attr': {'class': 'form-input block w-full rounded-md border-0 py-1.5 pl-3  text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-blue-600 sm:text-sm sm:leading-6 '}}) }}
          </div>
        </div>

        <div class="sm:col-span-5">
          <label for="tp" class="block text-sm font-medium leading-6 text-gray-900">Full name</label>
          <div class="mt-2">
            {{ form_row(form.name, {'attr': {'class': 'form-input  block w-full rounded-md border-0 py-1.5 pl-3  text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-blue-600 sm:text-sm sm:leading-6 '}}) }}
          </div>
        </div>

        <div class="sm:col-span-5">
          <label for="sn" class="block text-sm font-medium leading-6 text-gray-900">Phone Number</label>
          <div class="mt-2">
           {{ form_row(form.phoneNumber, {'attr': {'class': 'form-input block w-full rounded-md border-0 py-1.5 pl-3  text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-blue-600 sm:text-sm sm:leading-6'}}) }}
          </div>
        </div>

      </div>
    </div>

     <div class="mt-6 flex justify-end">
      <button type="button"
        class="mr-4 py-2 px-4 border border-orange-500 rounded-md text-sm font-medium text-orange-500 bg-white hover:bg-orange-500 hover:text-white focus:outline-none focus:ring-2 focus:ring-orange-500 focus:border-orange-500"
        onclick="resetForm()">Cancel</button>

      {{ form_row(form.submit, {'attr': {'class': 'py-2 px-4 border border-transparent rounded-md text-sm font-medium text-white bg-blue-600 hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2'}}) }}
    </div>
          <!-- Add more fields here -->
        </div>
      </div>
      <!-- Add more sections here -->
    </div>
   {{ form_end(form) }}
  </form>
</div>

<script>
  function resetForm() {
    document.getElementById('responsable-form').reset();
  }
</script>

{% endblock %}
