{% extends 'base_new.html.twig' %}

{% block head %}
  {% block title %}<title>Liste des étudiants dans {{ field ? field.name : 'All the fields' }}</title>{% endblock %}
{% endblock %}

{% block body %}
<div class="flex flex-col items-start md:items-center -mx-2 md:mx-0 mb-16 px-4 md:px-8  mt-4">
  
  {% block page_header %}
  <div class="w-full">
    <h1 class="text-4xl font-semibold text-blue-600">List of Students to be Accepted</h1>
    <p class="text-sm text-gray-600 mt-1">Accept or refuse the admission based on the presented files</p>

    <!-- Search Bar -->
    <header class="bg-white mt-2 flex flex-col md:flex-row justify-between items-center w-full mb-10">
      <div class="flex w-full flex-col md:flex-row items-start justify-between">
        <form action="{{ path('list_student_2', { fieldId: field ? field.id : null }) }}" method="get" class="w-full flex-col md:w-2/3 md:mr-5 flex md:flex-row ">
          <input type="search" name="name" placeholder="Search by name..." class="border rounded-md p-2 pl-3 w-full md:w-2/3 mb-2 md:mb-0 mr-6" value="{{ currentName is defined ? currentName : '' }}">
          <select class="w-full form-control mr-6 border rounded-md md:w-4/6 " name="field">
            <option value="" {% if not currentField is defined %}selected{% endif %}>All the fields</option>
            {% for field in fields %}
              <option value="{{ field.id }}" {% if currentField is defined and currentField == field.id %}selected{% endif %}>{{ field.name }}</option>
            {% endfor %}
          </select>
          <button type="submit" class="block w-full md:w-4/6 lg:w-1/6 xl:w-4/12 rounded-md border bg-orange-600 px-4 py-2 text-center text-sm font-semibold text-white shadow-sm hover:bg-orange-700 hover:text-white-600 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-600 md:px-5">Search</button>
        </form>
      </div>
    </header>
    <!-- End of Search Bar -->
  </div>
  {% endblock %}

  <div class="flex flex-wrap justify-start">
    {% for student in students %}
    <div class="md:w-72 mx-2 mb-8 max-w-sm rounded overflow-hidden shadow-lg bg-white p-2">
      <div class="p-4">
        <h5 class="text-xl font-semibold mb-2 overflow-hidden overflow-ellipsis whitespace-nowrap">{{ student.name }}</h5>
        <h6 class="text-gray-600 mb-2 overflow-hidden overflow-ellipsis whitespace-nowrap">Student ID: {{ student.studentID }}</h6>
        <p class="text-gray-700 mb-2 overflow-hidden overflow-ellipsis whitespace-nowrap">Field: {{ student.field.name }}</p>
        <p class="text-gray-700 mb-4 overflow-hidden overflow-ellipsis whitespace-nowrap">Level: {{ student.level }}</p>

        <div class="flex space-x-4">
          <a href="{{ path('create_student_account', { studentId: student.id }) }}" class="mt-8 block w-1/2 mx-auto rounded-md border border-orange-600 bg-orange px-3 py-2 text-center text-sm font-semibold text-orange-600 shadow-sm hover:bg-orange-500 hover:text-white focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-600">Valider</a>
          <a href="{{ path('detail_student', { id: student.id }) }}" class="mt-8 block w-1/2 mx-auto rounded-md bg-blue-600 px-3 py-2 text-center text-sm font-semibold text-white shadow-sm hover:bg-blue-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-600">Détail</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>

  {% if isPaginated %}
  <div class="flex justify-center mt-8">
    <nav aria-label="Page navigation">
      <ul class="inline-flex -space-x-px mb-4">
        {% if page != 1 %}
        <li>
          <a href="{{ path('list_student_2', { fieldId: field ? field.id : null, page: page - 1, nbre: nbre }) }}" class="py-2 px-3 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700">Précédent</a>
        </li>
        {% endif %}
        {% for i in range(1, nbPage + 1) %}
        <li>
          <a href="{{ path('list_student_2', { fieldId: field ? field.id : null, page: i, nbre: nbre }) }}" class="py-2 px-3 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700">{{ i }}</a>
        </li>
        {% endfor %}
        {% if page != nbPage %}
        <li>
          <a href="{{ path('list_student_2', { fieldId: field ? field.id : null, page: page + 1, nbre: nbre }) }}" class="py-2 px-3 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700">Suivant</a>
        </li>
        {% endif %}
      </ul>
    </nav>
  </div>
  {% endif %}
</div>
{% endblock %}
