{% extends 'base_AdminDashboard.html.twig' %}

{% block title %}Notes{% endblock %}

{% block body %}

<div class="container">
<h5 class="h5"> Add the grades of the students</h5>
<form method="post" class="row g-3">
    {{ form_start(form) }}

    <div class="col-md-6">
        {{ form_row(form.cc, {'attr': {'class': 'form-control'}}) }}
    </div>

    <div class="col-md-6">
        {{ form_row(form.tp, {'attr': {'class': 'form-control'}}) }}
    </div>

    <div class="col-12">
        {{ form_row(form.sn, {'attr': {'class': 'form-control'}}) }}
    </div>

    <div class="col-md-6">
        {{ form_row(form.rattrapage, {'attr': {'class': 'form-control'}}) }}
    </div>

    <div class="col-md-6">
        {{ form_row(form.semester, {'attr': {'class': 'form-control'}}) }}
    </div>

    <div class="col-md-6">
        {{ form_row(form.ec, {'attr': {'class': 'form-control'}}) }}
    </div>

    <div class="col-md-6">
        {{ form_row(form.student, {'attr': {'class': 'form-control'}}) }}
    </div>

    <div class="container" style="height:30px">

    </div>
    <div class="col-12">
        {{ form_row(form.submit, {'attr': {'class': 'btn btn-primary w-100'}}) }}
    </div>

    {{ form_end(form) }}
</form>
 </div>
{% endblock %}
