{% extends "base_super_admin.html.twig" %}
{% block title %}
    <title>{{ 'UIECC Dashboard' | trans }}</title>
{% endblock %}

{% block body %}
    <div class="min-h-screen bg-white p-8 flex flex-col overflow-hidden">
        <header class="text-gray-900 p-5 rounded-lg mb-6 flex flex-col items-center justify-center container mx-auto text-center border-b-4 border-gray-900">
            <h1 class="text-4xl font-bold mb-1">{{ 'Welcome to UIECC' | trans }}</h1>
            <p class="text-md opacity-80">{{ 'Today is' | trans }} {{ "now"|date("l, F j, Y") }}</p>
        </header>

        <div class="flex flex-col md:flex-row gap-6 flex-grow overflow-hidden -mb-10">
            <!-- Left Section: Create a school -->
            <div class="w-full md:w-1/4 bg-white rounded-lg p-4 h-auto md:h-[280px] flex flex-col justify-center overflow-y-auto shadow-xl">
                <div class="text-center place-items-center">
                    <div class="group relative justify-center">
                        <h2 class="text-2xl font-semibold text-gray-800 mb-2">{{ 'Create a School' | trans }}</h2>
                        <div class="absolute z-10 invisible group-hover:visible opacity-0 group-hover:opacity-100 transition-opacity duration-300 bg-white text-gray-800 border border-gray-300 rounded-sm shadow-lg p-2 w-48 mt-2 left-1/2 transform -translate-x-1/2">
                            <p>{{ 'Easily add a new school to the university with just a click' | trans }}</p>
                        </div>
                    </div>
                    <p class="mb-4 text-sm text-gray-600">{{ 'Click below to add a school to the university' | trans }}</p>
                    <form action="{{ path('school_new') }}" method="GET">
                        <button class="w-full bg-green-500 hover:bg-green-600 text-white font-semibold py-2 px-4 rounded-lg mb-4 transition duration-300 ease-in-out transform hover:scale-105">
                            <svg class="h-5 w-5 inline-block mr-2" fill="none" viewbox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4v16m8-8H4"/>
                            </svg>
                            {{ 'Create School' | trans }}
                        </button>
                    </form>
                </div>
            </div>

            <!-- Right Section: School List -->
            <div class="w-full md:flex-1 bg-white rounded-lg p-6 overflow-visible flex flex-col h-auto md:h-[280px] shadow-xl">
                <div>
                    <h2 class="text-2xl font-semibold text-gray-800">{{ 'School List' | trans }}</h2>
                    <p class="mb-4 text-xs">{{ 'Below is the list of schools you\'ve created so far' | trans }}</p>
                </div>

                <div class="overflow-y-auto flex-grow">
                    <table class="min-w-full bg-white">
                        <thead class="bg-gray-200 text-gray-600 uppercase text-sm leading-normal sticky top-0">
                            <tr>
                                <th class="py-3 px-6 text-left">{{ 'Name' | trans }}</th>
                                <th class="py-3 px-6 text-left">{{ 'Address' | trans }}</th>
                                <th class="py-3 px-6 text-left">{{ 'Phone Number' | trans }}</th>
                                <th class="py-3 px-6 text-left">{{ 'Email' | trans }}</th>
                                <th class="py-3 px-6 text-left">{{ 'Logo' | trans }}</th>
                                <th class="py-3 px-6 text-center">{{ 'Actions' | trans }}</th>
                            </tr>
                        </thead>
                        <tbody class="text-gray-600 text-sm font-light">
                            {% for school in school %}
                                <tr class="border-b border-gray-200 hover:bg-gray-100">
                                    <td class="py-3 px-6 text-left whitespace-nowrap">{{ school.name }}</td>
                                    <td class="py-3 px-6 text-left">{{ school.address }}</td>
                                    <td class="py-3 px-6 text-left">{{ school.phoneNumber }}</td>
                                    <td class="py-3 px-6 text-left">{{ school.email }}</td>
                                    <td class="py-3 px-6 text-left">
                                        {% if school.logo %}
                                            <img src="{{ asset('uploads/logos/' ~ school.logo) }}" alt="{{ 'Logo' | trans }}" class="h-5 w-5 object-cover rounded-full">
                                        {% else %}
                                            {{ 'No logo' | trans }}
                                        {% endif %}
                                    </td>
                                    <td class="py-3 px-6 text-center">
                                        <a href="{{ path('delete_school', {'id': school.id}) }}" class="bg-red-500 hover:bg-red-600 text-white font-bold py-1 px-3 rounded text-xs" onclick="return confirm('{{ 'Are you sure you want to delete this school?' | trans }}');">{{ 'Delete' | trans }}</a>
                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="6" class="py-3 px-6 text-center">{{ 'No schools found' | trans }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <!-- Adjust the margin-top for this div -->
        <div class="flex flex-col md:flex-row gap-6 flex-grow overflow-hidden mt-4">
            <!-- Left Section: Create an authority -->
            <div class="w-full md:w-1/4 bg-white rounded-lg p-4 h-auto md:h-[280px] flex flex-col justify-center overflow-y-auto shadow-xl">
                <div class="text-center mb-4">
                    <div class="group relative">
                        <h2 class="text-2xl font-semibold text-gray-800 mb-2">{{ 'Create an Authority' | trans }}</h2>
                        <div class="absolute z-10 invisible group-hover:visible opacity-0 group-hover:opacity-100 transition-opacity duration-300 bg-white text-gray-800 border border-gray-300 rounded-sm shadow-xl p-2 w-48 mt-2 left-1/2 transform -translate-x-1/2">
                            <p>{{ 'Add an authority with specific privileges to manage schools' | trans }}</p>
                        </div>
                    </div>
                    <p class="mb-4 text-sm text-gray-600">{{ 'Click below to add an authority with privileges' | trans }}</p>
                    <form action="{{ path('new_school_resp') }}" method="GET">
                        <button class="w-full bg-green-500 hover:bg-green-600 text-white font-bold py-2 px-4 rounded-lg shadow mb-4 transition duration-300 ease-in-out transform hover:scale-105">
                            <svg class="h-5 w-5 inline-block mr-2" fill="none" viewbox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4v16m8-8H4"/>
                            </svg>
                            {{ 'Create Authority' | trans }}
                        </button>
                    </form>
                </div>
            </div>

            <!-- Right Section: Responsible List -->
            <div class="w-full md:flex-1 bg-white rounded-lg p-6 overflow-hidden flex flex-col h-auto md:h-[280px] shadow-xl">
                <div>
                    <h2 class="text-2xl font-semibold text-gray-800">{{ 'School Responsibles' | trans }}</h2>
                    <p class="mb-4 text-xs">{{ 'Below is the list of school responsibles' | trans }}</p>
                </div>

                <div class="overflow-y-auto flex-grow">
                    <table class="min-w-full bg-white">
                        <thead class="bg-gray-200 text-gray-600 uppercase text-sm leading-normal sticky top-0">
                            <tr>
                                <th class="py-3 px-6 text-left">{{ 'Name' | trans }}</th>
                                <th class="py-3 px-6 text-left">{{ 'School' | trans }}</th>
                                <th class="py-3 px-6 text-left">{{ 'Phone Number' | trans }}</th>
                                <th class="py-3 px-6 text-left">{{ 'Email' | trans }}</th>
                                <th class="py-3 px-6 text-center">{{ 'Actions' | trans }}</th>
                            </tr>
                        </thead>
                        <tbody class="text-gray-600 text-sm font-light">
                            {% for resp_school in resp_schools %}
                                <tr class="border-b border-gray-200 hover:bg-gray-100">
                                    <td class="py-3 px-6 text-left whitespace-nowrap">{{ resp_school.name }}</td>
                                    <td class="py-3 px-6 text-left">{{ resp_school.school.name }}</td>
                                    <td class="py-3 px-6 text-left">{{ resp_school.phoneNumber }}</td>
                                    <td class="py-3 px-6 text-left">{{ resp_school.email }}</td>
                                    <td class="py-3 px-6 text-center">
                                        <a href="{{ path('delete_resp_school', {'id': resp_school.id}) }}" class="bg-red-500 hover:bg-red-600 text-white font-bold py-1 px-3 rounded text-xs" onclick="return confirm('{{ 'Are you sure you want to delete this responsible?' | trans }}');">{{ 'Delete' | trans }}</a>
                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="5" class="py-3 px-6 text-center">{{ 'No responsibles found' | trans }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block javascripts %}
    <script>
        const createAuthorityBtn = document.getElementById('createAuthorityBtn');
        const authorityFormPopup = document.getElementById('authorityFormPopup');
        const authorityForm = document.getElementById('authorityForm');
        const closeAuthorityForm = document.getElementById('closeAuthorityForm');

        createAuthorityBtn.addEventListener('click', () => {
            authorityFormPopup.classList.remove('hidden');
        });

        closeAuthorityForm.addEventListener('click', () => {
            authorityFormPopup.classList.add('hidden');
        });

        authorityForm.addEventListener('submit', (e) => {
            e.preventDefault();
            const formData = new FormData(authorityForm);

            // Here you would typically send the data to the server
            // For now, we'll just close the popup and reset the form
            authorityFormPopup.classList.add('hidden');
            authorityForm.reset();
        });
    </script>
{% endblock %}