<!doctype html>
<html class="h-full" lang="{{ app.request.locale }}">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/images/uiecc_logo.png" type="image/x-icon">
    {% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
    {% endblock %}
    {{ encore_entry_script_tags('app') }}

    {% block head %}{% block title %}<title></title>{% endblock %}{% endblock %}
</head>

<body class="h-full bg-background dark:bg-background text-text dark:text-text transition-colors duration-300">
    <header class="bg-background dark:bg-background">
        <nav class="mx-auto flex max-w-7xl items-center justify-between p-6 lg:px-8" aria-label="Global">
            <div class="flex items-center lg:flex-1">
                <a href="{{ path('app_home_page') }}" class="-m-1.5 p-1.5 flex items-center">
                    <img class="h-12 w-auto" src="{{ asset('images/uiecc_logo.png') }}"
                        alt="{{ 'home_header.app.logo_alt'|trans }}">
                    <span class="ml-3 text-lg font-semibold text-text dark:text-text">{{ 'home_header.app.name'|trans }}</span>
                </a>
            </div>
            <div class="flex lg:hidden">
                <button type="button"
                    class="inline-flex items-center justify-center p-2 rounded-md text-text dark:text-text hover:bg-primary-light dark:hover:bg-primary-dark focus:outline-none focus:ring-2 focus:ring-inset focus:ring-primary"
                    aria-controls="mobile-menu" aria-expanded="false">
                    <span class="sr-only">{{ 'home_header.nav.open_menu'|trans }}</span>
                    <svg class="block h-6 w-6"  fill="none" viewBox="0 0 24 24"
                        stroke="currentColor" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M4 6h16M4 12h16m-7 6h7" />
                    </svg>
                    <svg class="hidden h-6 w-6" fill="none" viewBox="0 0 24 24"
                        stroke="currentColor" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M6 18L18 6M6 6l12 12" />
                    </svg>
                </button>
            </div>

            <div class="hidden lg:flex lg:gap-x-12">
                <!-- Add your navigation links here -->
            </div>
            <div class="mr-5">
                <button id="theme-toggle"
                    class="text-text dark:text-text hover:bg-primary-light dark:hover:bg-primary-dark focus:outline-none focus:ring-4 focus:ring-primary rounded-lg text-sm p-2.5">
                    <svg id="theme-toggle-dark-icon" class="hidden w-5 h-5" fill="currentColor" viewBox="0 0 20 20"
                        xmlns="http://www.w3.org/2000/svg">
                        <path d="M17.293 13.293A8 8 0 016.707 2.707a8.001 8.001 0 1010.586 10.586z"></path>
                    </svg>
                    <svg id="theme-toggle-light-icon" class="hidden w-5 h-5" fill="currentColor" viewBox="0 0 20 20"
                        xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M10 2a1 1 0 011 1v1a1 1 0 11-2 0V3a1 1 0 011-1zm4 8a4 4 0 11-8 0 4 4 0 018 0zm-.464 4.95l.707.707a1 1 0 001.414-1.414l-.707-.707a1 1 0 00-1.414 1.414zm2.12-10.607a1 1 0 010 1.414l-.706.707a1 1 0 11-1.414-1.414l.707-.707a1 1 0 011.414 0zM17 11a1 1 0 100-2h-1a1 1 0 100 2h1zm-7 4a1 1 0 011 1v1a1 1 0 11-2 0v-1a1 1 0 011-1zM5.05 6.464A1 1 0 106.465 5.05l-.708-.707a1 1 0 00-1.414 1.414l.707.707zm1.414 8.486l-.707.707a1 1 0 01-1.414-1.414l.707-.707a1 1 0 011.414 1.414zM4 11a1 1 0 100-2H3a1 1 0 000 2h1z"
                            fill-rule="evenodd" clip-rule="evenodd"></path>
                    </svg>
                </button>
            </div>
            <div class="relative mr-3">
                <button id="language-toggle" type="button"
                    class="inline-flex items-center text-text dark:text-text focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-primary"
                    aria-expanded="false" aria-label="{{ 'home_header.language.change'|trans }}">
                    {{ app.request.locale|upper }}
                    <svg class="ml-2 h-5 w-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                        stroke="currentColor" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
                    </svg>
                </button>
                <div id="language-menu"
                    class="hidden absolute right-0 z-10 mt-2 w-48 origin-top-right rounded-md shadow-lg bg-white dark:bg-gray-800 ring-1 ring-black ring-opacity-5"
                    role="menu" aria-orientation="vertical" aria-labelledby="options-menu">
                    <div class="py-1" role="none">
                        <a href="{{ path('change_language', {'locale': 'en'}) }}"
                            class="block px-4 py-2 text-sm text-gray-700 dark:text-gray-300"
                            role="menuitem">{{ 'home_header.language.english'|trans }}</a>
                        <a href="{{ path('change_language', {'locale': 'fr'}) }}"
                            class="block px-4 py-2 text-sm text-gray-700 dark:text-gray-300"
                            role="menuitem">{{ 'home_header.language.french'|trans }}</a>
                        <a href="{{ path('change_language', {'locale': 'es'}) }}"
                            class="block px-4 py-2 text-sm text-gray-700 dark:text-gray-300"
                            role="menuitem">{{ 'home_header.language.spanish'|trans }}</a>
                        <a href="{{ path('change_language', {'locale': 'ln'}) }}"
                            class="block px-4 py-2 text-sm text-gray-700 dark:text-gray-300"
                            role="menuitem">{{ 'home_header.language.lingala'|trans }}</a>
                        <!-- Add more languages here -->
                    </div>
                </div>
            </div>

        </nav>
        <!-- Mobile menu, show/hide based on menu state -->
        <div class="lg:hidden" id="mobile-menu">
            <div class="space-y-1 px-2 pt-2 pb-3 sm:px-3">
                <!-- Add your mobile navigation links here -->
            </div>
        </div>
    </header>
    {% block body %}{% endblock %}
    {# <div class="flex flex-col bg-background dark:bg-background">
        <footer class="footer py-3 my-4 mt-auto">
            <ul class="flex justify-center border-b pb-3 mb-3 mt-auto">
                <li class="nav-item">
                    <a class="nav-link px-2 text-text dark:text-text hover:text-primary dark:hover:text-primary-light"
                        href="{{ path('app_home_page') }}">{{ 'home_header.nav.home'|trans }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link px-2 text-text dark:text-text hover:text-primary dark:hover:text-primary-light"
                        href="{{ path('app_about_page') }}">{{ 'home_header.nav.about'|trans }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link px-2 text-text dark:text-text hover:text-primary dark:hover:text-primary-light"
                        href="{{ path('app_contact_us_page') }}">{{ 'home_header.nav.contact_us'|trans }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link px-2 text-text dark:text-text hover:text-primary dark:hover:text-primary-light"
                        href="{{ path('app_documentation_page') }}">{{ 'home_header.nav.documentation'|trans }}</a>
                </li>
            </ul>
            <p class="text-center text-text dark:text-text">
                © {{ 'now'|date('Y') }} {{ 'home_header.app.name'|trans }}, UIECC.
            </p>
        </footer>
    </div> #}
    <script>
        // Dark Mode Handling
        var themeToggleDarkIcon = document.getElementById('theme-toggle-dark-icon');
        var themeToggleLightIcon = document.getElementById('theme-toggle-light-icon');

        // Check and set the initial theme
        if (localStorage.getItem('color-theme') === 'dark' || (!('color-theme' in localStorage) && window.matchMedia(
                '(prefers-color-scheme: dark)').matches)) {
            document.documentElement.classList.add('dark');
            themeToggleLightIcon.classList.remove('hidden');
        } else {
            document.documentElement.classList.remove('dark');
            themeToggleDarkIcon.classList.remove('hidden');
        }

        var themeToggleBtn = document.getElementById('theme-toggle');

        themeToggleBtn.addEventListener('click', function () {
            themeToggleDarkIcon.classList.toggle('hidden');
            themeToggleLightIcon.classList.toggle('hidden');

            if (document.documentElement.classList.contains('dark')) {
                document.documentElement.classList.remove('dark');
                localStorage.setItem('color-theme', 'light');
            } else {
                document.documentElement.classList.add('dark');
                localStorage.setItem('color-theme', 'dark');
            }
        });

        // Language Dropdown Handling
        const languageToggle = document.getElementById('language-toggle');
        const languageMenu = document.getElementById('language-menu');

        languageToggle.addEventListener('click', function () {
            const expanded = languageToggle.getAttribute('aria-expanded') === 'true' || false;
            languageToggle.setAttribute('aria-expanded', !expanded);
            languageMenu.classList.toggle('hidden');
        });

        document.addEventListener('click', function (event) {
            const isClickInside = languageToggle.contains(event.target) || languageMenu.contains(event.target);

            if (!isClickInside) {
                languageMenu.classList.add('hidden');
                languageToggle.setAttribute('aria-expanded', false);
            }
        });
    </script>
</body>

</html>