<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		{% block head %}
			{% block title %}
				<title>Student Dashboard</title>
			{% endblock %}
		{% endblock %}
		<link rel="stylesheet" href="{{ asset('build/app.css') }}">
		<link rel="shortcut icon" href="/images/uiecc_logo.png" type="image/x-icon">
		{{ encore_entry_script_tags('app') }}
	</head>

	<body class="font-sans antialiased leading-none h-screen w-screen bg-white-500">
		<div
			class="flex h-full">

			<!-- Sidebar -->
			<aside class="fixed inset-y-0 left-0 w-64 bg-blue-600 text-white flex flex-col">
				<div class="p-4 flex items-center justify-between">
					<a href="#" class="flex items-center">
						<img class="h-10 w-auto" src="/images/uiecc_logo.png" alt="SYGENES logo">
						<h1 class="text-2xl font-semibold ml-2">SYGENES</h1>
					</a>
					<!--<button id="sidebar-collapse-toggle" class="hidden lg:inline-block">
					                    <img class="h-6 w-6" src="/icons/collapse.png" alt="Toggle sidebar">
					                </button>
					                 <button id="sidebar-toggle" class="lg:hidden">
					                    <img class="h-6 w-6" src="/icons/menu.png" alt="Toggle sidebar">
					                </button> -->
				</div>
				<nav class="flex-grow  flex justify-center items-center ">
					<ul
						class="space-y-7  items-center">

						<!-- Home Tab -->
						<li class="">
							<div id="dropdown-container " class="relative w-full">
								<div class="">
									<a type="button" href="{{ path('app_dashStudent')}}" class="nav-link items-center inline-flex w-full justify-start gap-x-4 bg-blue-600 px-2 py-2 text-md font-medium rounded-md text-white ring-inset ring-gray-300 hover:bg-blue-700" id="menu-button-3" aria-expanded="false" aria-haspopup="true">
										<img class="h-5 w-auto" src="/icons/home.png" alt="home icon">
										Home
									</a>
								</div>
							</div>

						</li>


						<!-- Grades Tab -->
						<li>
							<div id="dropdown-container-1" class="relative w-full">
								<div>
									<a type="button" href="{{ path('student_notes', {id: student.id} )}}" class="nav-link items-center inline-flex w-full justify-start gap-x-4 bg-blue-600 px-2 py-2 text-md font-medium rounded-md text-white ring-inset ring-gray-300 hover:bg-blue-700" id="menu-button-3" aria-expanded="false" aria-haspopup="true">
										<img class="h-5 w-auto" src="/icons/grades.png" alt="home icon">
										View marks
									</a>
								</div>
							</div>
						</li>


						<!-- Statistics Tab -->
						<li>
							<div id="dropdown-container-2" class="relative w-full">
								<div>
									<a type="button" href="{{path('student_stats', {id: student.id} )}}" class="nav-link items-center inline-flex w-full justify-start gap-x-4 bg-blue-600 px-2 py-2 text-md font-medium rounded-md text-white ring-inset ring-gray-300 hover:bg-blue-700" id="menu-button-3" aria-expanded="false" aria-haspopup="true">
										<img class="h-5 w-auto" src="/icons/statistics.png" alt="home icon">
										Statistics
									</a>
								</div>
							</div>

						</li>


						<!-- Profile Tab -->
						<li>
							<div id="dropdown-container-3" class="relative w-full">
								<div>
									<a type="button" href="{{path('app_profile_show')}}" class="nav-link items-center inline-flex w-full justify-start gap-x-4 bg-blue-600 px-2 py-2 text-md font-medium rounded-md text-white ring-inset ring-gray-300 hover:bg-blue-700" id="menu-button-3" aria-expanded="false" aria-haspopup="true">
										<img class="h-5 w-auto" src="/icons/user_white_2.png" alt="home icon">
										Profile
									</a>
								</div>
							</div>

						</li>

						<li>
							<!-- Logout -->
					<div class="mt-auto mb-4">
						<a href="{{ path('app_logout') }}" class=" flex items-center px-2 py-2 mt-2 font-medium rounded-md bg-blue-600 hover:bg-blue-700 text-md">
							<img class="h-5 w-auto mr-4" src="/icons/logout.png" alt="logout icon">
							<span class="text-md">Log out</span>
						</a>
					</div>
						</li>


					</ul>


					
				</nav>

			</aside>


			<!-- Main content -->
			<div
				class=" flex-grow flex flex-col">
				<!-- Top Navigation -->
				<header class="ml-64 bg-white shadow p-4 flex justify-end items-center">
					
					<div class="flex items-end space-x-4 mr-8">
						<a href="{{path('app_profile_show')}}" class="flex space-x-4 items-center">
							<div class="text-gray-500">{{ user.username }}</div>
							{% if user.profilePicture %}
								<img class="w-8 h-8 rounded-full" src="{{ asset('uploads/profile_pictures/' ~ user.profilePicture) }}" alt="Profile Picture"/>
							{% else %}
								<img class="w-8 h-8 rounded-full" src="{{ asset('images/user.png') }}" alt="Default Profile Picture"/>
							{% endif %}
						</a>
					</div>
				</header>

				<!-- Main Content Area -->
				<main class="flex-grow p-4">
					<div class="bg-white-500 rounded-lg h-full">
						{% block body %}
							{% block page_header %}{% endblock %}
						{% endblock %}
					</div>
				</main>
			</div>
		</body>
	</body>
</html>
