<!doctype html>
<html class="h-full">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
  {% endblock %}
  {{ encore_entry_script_tags('app') }}
 {% block title %}{% endblock %}

</head>

<body class="h-full" >
<header class="bg-white navbar">
  <nav class="mx-auto flex max-w-7xl items-center justify-between p-6 lg:px-8 navbar" aria-label="Global">
    <div class="flex lg:flex-1">
      <a href="{{ path('app_dashAdmin') }}" class="-m-1.5 p-1.5 nav-link">
        
        <img class="h-12 w-auto" src="/images/uiecc_logo.png" alt="UIECC Logo">
        <span class="sr-only">SYGENES</span>
      </a>
    </div>
    
  </nav>
  
   
</header>



{% block body %} {% endblock %}
</body>

<div class="flex flex-col bg-white">
  <footer class="footer py-3 my-4 mt-auto">
      <ul class="flex justify-center border-b pb-3 mb-3 mt-auto">
          <li class="nav-item">
              <a class="nav-link px-2 text-gray-500" href="{{ path('app_home_page') }}">Home</a>
          </li>
          <li class="nav-item">
              <a class="nav-link px-2 text-gray-500" href="{{ path('app_about_page') }}">About</a>
          </li>
          <li class="nav-item">
              <a class="nav-link px-2 text-gray-500" href="{{ path('app_contact_us_page') }}">Contact Us</a>
          </li>
          <li class="nav-item">
              <a class="nav-link px-2 text-gray-500" href="{{ path('app_documentation_page') }}">Documentation</a>
          </li>
      </ul>
      <p class="text-center text-gray-500">
          © 2024 SYGENES, UIECC.
      </p>
  </footer>
</div>

</html>

