<!doctype html>
<html class="h-full">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="/images/uiecc_logo.png" type="image/x-icon">
  {% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
  {% endblock %}
  {% block script %}
    {{ encore_entry_script_tags('app') }}
  {% endblock %}

  {% set color_scheme = color_scheme() %}
  <style>
      :root {
          --primary-color: {{ color_scheme.primaryColor }};
          --secondary-color: {{ color_scheme.secondaryColor }};
          --accent-color: {{ color_scheme.accentColor }};
          --background-color: {{ color_scheme.bacgroundColor }};
          --text-color: {{ color_scheme.textColor }};
      }
  </style>
  
  {% block head %}{% block title %}<title></title>{% endblock %}{% endblock %}
  {% block current_route %}{% endblock %}

  <style>
  .nav-link.text-blue-600 {
    font-weight: bold;
  }
  .nav-link .bar {
    transition: all 0.3s ease;
  }
</style>
</head>

<body class="h-full" style="background-color: var(--background-color); color: var(--text-color);">
<header class="bg-white">
  <nav class="mx-auto flex max-w-7xl items-center justify-between p-6 lg:px-8 " aria-label="Global">
    <div class="flex items-center lg:flex-1">
      <a href="{{ path('app_home_page') }}" class="-m-1.5 p-1.5 flex items-center">
        <img class="h-12 w-auto" src="/images/uiecc_logo.png" alt="UIECC Logo">
        <span class="ml-3 text-lg font-semibold" style="color: var(--text-color);">SYGENES</span>
      </a>
    </div>

    <div class="flex lg:hidden">
      <button type="button" class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-gray-700" id="mobile-menu-button">
        <span class="sr-only">Open main menu</span>
        <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
          <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
        </svg>
      </button>
    </div>
    <div class="hidden lg:flex lg:gap-x-12">
      <div class="relative hover:text-blue-600">
        <a href="{{ path('app_home_page') }}" class="nav-link flex items-center gap-x-1 font-semibold leading-6" style="color: var(--text-color);">
          Home
          <div id="bottom-bar" class="hidden h-1 bg-blue-500 w-4/2 mx-auto rounded-full bar"></div>
        </a>
      </div>
      <a href="{{ path('app_about_page') }}" class="nav-link font-semibold leading-6" style="color: var(--text-color);">About</a>
      <a href="{{ path('app_contact_us_page') }}" class="nav-link font-semibold leading-6" style="color: var(--text-color);">Contact us</a>
      <a href="{{ path('app_documentation_page') }}" class="nav-link font-semibold leading-6" style="color: var(--text-color);">Documentation</a>
    </div>
    <div class="hidden lg:flex lg:flex-1 lg:justify-end">
      <a href="{{ path('app_login') }}" class="nav-link rounded-md px-3.5 py-2.5 font-semibold leading-6 text-white" style="background-color: var(--accent-color); hover:text-white; hover:bg-orange-400;">Log in <span aria-hidden="true">&rarr;</span></a>
    </div>
  </nav>
  <!-- Mobile menu, show/hide based on menu open state. -->
  <div class="hidden lg:hidden " role="dialog" aria-modal="true" id="mobile-menu">
    <div class="fixed inset-0 z-10"></div>
    <div class="fixed inset-y-0 right-0 z-10 w-full overflow-y-auto bg-white px-6 py-6 sm:max-w-sm sm:ring-1 sm:ring-gray-900/10">
      <div class="flex items-center justify-between">
        <a href="{{path('app_home_page')}}" class="-m-1.5 p-1.5">
          <span class="sr-only">SYGENES</span>
          <img class="h-8 w-auto" src="/images/uiecc_logo.png" alt="">
        </a>
        <button type="button" class="-m-2.5 rounded-md p-2.5 text-gray-700" id="mobile-menu-close">
          <span class="sr-only">Close menu</span>
          <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
          </svg>
        </button>
      </div>
      <div class="mt-6 flow-root">
        <div class="-my-6 divide-y divide-gray-500/10">
          <div class="space-y-2 py-6">
            <a href="{{ path('app_home_page') }}" class="block rounded-lg px-3 py-2 text-base font-semibold leading-7" style="color: var(--text-color); hover:bg-gray-50;">Home</a>
            <a href="{{ path('app_about_page') }}" class="block rounded-lg px-3 py-2 text-base font-semibold leading-7" style="color: var(--text-color); hover:bg-gray-50;">About</a>
            <a href="{{ path('app_contact_us_page') }}" class="block rounded-lg px-3 py-2 text-base font-semibold leading-7" style="color: var(--text-color); hover:bg-gray-50;">Contact Us</a>
            <a href="{{ path('app_documentation_page') }}" class="block rounded-lg px-3 py-2 text-base font-semibold leading-7" style="color: var(--text-color); hover:bg-gray-50;">Documentation</a>
          </div>
          <div class="py-6">
            <a href="{{ path('app_login') }}" class="block rounded-lg px-3 py-2.5 text-base font-semibold leading-7" style="color: var(--text-color); hover:bg-gray-50;">Log in</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

{% block body %} {% endblock %}

<div class="flex flex-col bg-white">
  <footer class="footer py-3 my-4 mt-auto" style="background-color: var(--background-color); color: var(--text-color);">
    <ul class="flex justify-center border-b pb-3 mb-3">
      <li class="nav-item">
        <a class="nav-link px-2" style="color: var(--text-color);" href="{{ path('app_home_page') }}">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link px-2" style="color: var(--text-color);" href="{{ path('app_about_page') }}">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link px-2" style="color: var(--text-color);" href="{{ path('app_contact_us_page') }}">Contact Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link px-2" style="color: var(--text-color);" href="{{ path('app_documentation_page') }}">Documentation</a>
      </li>
    </ul>
    <p class="text-center" style="color: var(--text-color);">© 2024 SYGENES, UIECC.</p>
  </footer>
</div>

<script>
  const mobileMenuButton = document.getElementById('mobile-menu-button');
  const mobileMenu = document.getElementById('mobile-menu');
  const mobileMenuClose = document.getElementById('mobile-menu-close');

  mobileMenuButton.addEventListener('click', () => {
    mobileMenu.classList.toggle('hidden');
  });

  mobileMenuClose.addEventListener('click', () => {
    mobileMenu.classList.add('hidden');
  });
</script>
</body>
</html>
