{# templates/user/show.html.twig #}
{% extends 'base_AdminDashboard.html.twig' %}
{% block head %}
  {% block title %}<title>Show Profile</title>{% endblock %}
{% endblock %}

{% block body %}
<style>
.profile-picture {
    width: 300px;
    height: 300px;
    border-radius: 50%; /* Ensures a circular shape for the image */
    border: 2px solid #ddd; /* Example border styling */
}
</style>
<div class="profile flex flex-col items-start ml-64 space-y-4">
    <h1 class="flex justify-center w-full mt-16 mb-5 text-4xl font-semibold text-blue-600">Mon Profil</h1>

    <div class="flex justify-center w-full ">
        {% if user.profilePicture %}
        <img class="profile-picture w-auto h-72 rounded-full border mb-4 shadow" src="{{ asset('uploads/profile_pictures/' ~ user.profilePicture) }}" alt="Profile Picture" />
        {% else %}
        <img class="profile-picture w-auto h-72 rounded-full border mb-4 shadow" src="{{ asset('images/user.png') }}" alt="Default Profile Picture" />
        {% endif %}
    </div>

    <div class="profile-details space-y-2 w-full flex flex-col items-center gap-2">
        <p class="text-lg flex justify-center"><strong class="mr-2">Nom d'utilisateur: </strong> {{ user.username }}</p>
        <p class="text-lg flex justify-center"><strong class="mr-2">Email: </strong> {{ user.email }}</p>
        {% if student %}
        <p class="text-lg flex justify-center"><strong class="mr-2">Étudiant:</strong> {{ student.name }}</p>
        <p class="text-lg flex justify-center"><strong class="mr-2">Student ID:</strong> {{ student.studentID }}</p>
        <p class="text-lg flex justify-center"><strong class="mr-2">Level:</strong> {{ student.level }}</p>
        <p class="text-lg flex justify-center"><strong class="mr-2">Phone Number:</strong> {{ student.phoneNumber }}</p>
        <p class="text-lg flex justify-center"><strong class="mr-2">Date of Birth:</strong> {{ student.dateOfBirth }}</p>
        {% endif %}
        {% if user.Responsable %}
        <p class="text-lg flex justify-center"><strong class="mr-2">Responsable:</strong> {{ user.Responsable }}</p>
        {% endif %}
        <a href="{{ path('app_profile_edit') }}" class="block w-full md:w-4/6 lg:w-1/6 xl:w-4/12 rounded-md border bg-orange-600 px-4 py-2 text-center text-sm font-semibold text-white shadow-sm hover:bg-orange-700 hover:text-white-600 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-600 md:px-5">Modify my profile</a>
    </div>
</div>
{% endblock %}
