{# templates/user/show.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
    <h1>Mon Profil</h1>

    <div class="profile">
        <div class="profile-picture">
            {% if user.profilePicture %}
                <img src="{{ asset('uploads/profile_pictures/' ~ user.profilePicture) }}" alt="Profile Picture">
            {% else %}
                <img src="{{ asset('images/default_profile_picture.png') }}" alt="Default Profile Picture">
            {% endif %}
        </div>

        <div class="profile-details">
            <p><strong>Nom d'utilisateur:</strong> {{ user.username }}</p>
            <p><strong>Email:</strong> {{ user.email }}</p>
            {% if student %}
                <p><strong>Étudiant:</strong> {{ student.name }}</p>
                <p><strong>studentID:</strong> {{ student.studentID }}</p>
                <p><strong>level:</strong> {{ student.level }}</p>
                <p><strong>phoneNumber:</strong> {{ student.phoneNumber }}</p>
                <p><strong>dateOfBirth:</strong> {{ student.dateOfBirth }}</p>
            {% endif %}
        </div>

        <a href="{{ path('app_profile_edit') }}" class="btn btn-primary">Modifier mon profil</a>
    </div>
{% endblock %}
