{# templates/user/show.html.twig #}
{% extends layout_template %}

{% block head %}
  {% block title %}<title>Show Profile</title>{% endblock %}
{% endblock %}

{% block back_button %}
    <a href="{{ app.request.headers.get('referer') is not null ? app.request.headers.get('referer') : path('home') }}" 
       class="absolute top-32  bg-white bg-opacity-80 hover:bg-opacity-100 text-blue-600 rounded-full p-2 transition duration-300 shadow-md back-button hidden">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 19l-7-7m0 0l7-7m-7 7h18" />
        </svg>
    </a>
{% endblock %}

{% block body %}
<style>
.profile-picture {
    width: 300px;
    height: 300px;
    border-radius: 50%; /* Ensures a circular shape for the image */
    border: 2px solid #ddd; /* Example border styling */
}
</style>
{# Include the back button #}
    {{ block('back_button') }}
<div class="profile flex flex-col items-start space-y-4 ">
    <h1 class="flex justify-center w-full mt-16 mb-5 text-4xl font-semibold text-blue-600">My Profile</h1>

    <div class="flex justify-center w-full ">
        {% if user.profilePicture %}
        <img class="profile-picture w-auto h-72 rounded-full border mb-4 shadow" src="{{ asset('uploads/profile_pictures/' ~ user.profilePicture) }}" alt="Profile Picture" />
        {% else %}
        <img class="profile-picture w-auto h-72 rounded-full border mb-4 shadow" src="{{ asset('images/user.png') }}" alt="Default Profile Picture" />
        {% endif %}
    </div>

    <div class="profile-details space-y-2 w-full flex flex-col items-center gap-2">
        <p class="text-lg flex justify-center"><strong class="mr-2">Nom d'utilisateur: </strong> {{ user.username }}</p>
        <p class="text-lg flex justify-center"><strong class="mr-2">Email: </strong> {{ user.email }}</p>
        {% if student %}
        <p class="text-lg flex justify-center"><strong class="mr-2">Étudiant:</strong> {{ student.name }}</p>
        <p class="text-lg flex justify-center"><strong class="mr-2">Student ID:</strong> {{ student.studentID }}</p>
        <p class="text-lg flex justify-center"><strong class="mr-2">Level:</strong> {{ student.level }}</p>
        <p class="text-lg flex justify-center"><strong class="mr-2">Phone Number:</strong> {{ student.phoneNumber }}</p>
        <p class="text-lg flex justify-center"><strong class="mr-2">Field: </strong> {{ student.field }}</p>
        <p class="text-lg flex justify-center"><strong class="mr-2">Date of Birth:</strong> {{ student.dateOfBirth|date('d-m-Y') }}</p>
        {% endif %}
        {% if user.Responsable %}
        <p class="text-lg flex justify-center"><strong class="mr-2">Responsable:</strong> {{ user.Responsable }}</p>
        {% endif %}
        <a href="{{ path('app_profile_edit') }}" class="block w-full md:w-4/6 lg:w-1/6 xl:w-4/12 rounded-md border bg-orange-600 px-4 py-2 text-center text-sm font-semibold text-white shadow-sm hover:bg-orange-700 hover:text-white-600 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-600 md:px-5">Modify my profile</a>
    </div>
</div>
{% endblock %}
